body{
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: #eee;
  font-family: Roboto, sans-serif;
  padding: 16px;
  box-sizing: border-box;
}
h1{
  margin: 0;
  padding-bottom: 16px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  width: 512px;
  height: 512px;
}

.pixel{
  cursor: pointer;
  box-shadow: 1px 1px 4px rgb(0,0,0);
  background-color: #202020;
}
.lit{
  background-color: #eee;
}